.FullScreenObject
{
    width: 100%;
    height: 100%;
}

.ChatContainer
{
    background-color: burlywood;
    width: 100%;
    height: 100%;
}

.MessageContainer
{
    height: 70%;
}

.InputContainer
{
    height: 30%;
}

.MessageContainer p{
    font-family: 'Times New Roman', Times, serif;
}

.MyMessage
{
    text-align: left;
    border-color: aqua;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    height: 10%;

}

.OtherMessage
{
    text-align: right;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    height: 10%;
}

.MessageInput
{
    width: 75;
}

.MessageButton
{
    width: 20%;
}
